@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
    font-size: 16px;
}


@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
    font-size: 16px;
}


:root{
--color-primary100: #6E00FF;
--color-primary200: #0081E4;
--color-primary150: #2691e2;
--color-primary300: #FF64CB;

--color-neutral100: #FFFFFF;
--color-neutral400: #707070;
--color-neutral500: #909090;
--color-neutral900: #000000;

}

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', 'Segoe UI', 'Arial';
}



ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.nav-container{
    
    height: 20vw;
    max-height: 120px;
    background: var(--color-primary100);
    justify-content: space-between;

    a{
        color: white;
       
    }

    header{
        display: flex;
        justify-content: space-between;
        padding: 1em;
        margin-left: 3vw;
        margin-right: 3vw;
    
        .logo{
            width: 13vw;
            max-width: 100px;
            display: flex;
        }
    
        nav{
              display: flex;
              float: right;
              justify-content: space-between;
    
            ul{
                display: flex;
                margin: auto;
    
                a{
                    font-size: 0.85rem;
                    padding: 0 1em;
                    display: inline;
                }
            }
    
        }
    }
}




.hero{
    color: var(--color-primary200);
    display: grid;
    text-align: center;
    padding: 2em;

    .hero-design{
        width: 100%;
        margin: 0 auto;
     
    }
    
    .content{
    
        font-size: 1.3rem;
    }
    
    .meet{
        font-weight: 600;
        font-size: 0.8rem;
        letter-spacing: 0.1em;
        color: var(--color-neutral500);
        margin-top: 2em;
    }
    
    
    .scroll
    {
        margin: 0 auto;
        width: 20px;
    }

}

.sub-main{
    margin: -2em 0 2em 0;
    text-transform: uppercase;
    color: #4B94CD;
    font-size: 1rem;
}

.sub-sub{
    margin: 0 0 2em 0;

    font-size: 0.85rem;
    color:#767676
}

section{
    padding: 2em;
    text-align: center;
}



.my-world{
    align-content: center;
}


.overlay {
  position: absolute;
  margin: 0 auto;
  display: flex;
  margin-top: -10%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);

    img{
        width:40px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.11);
    }


    .modal {
        transform: translate(0px, -50px);
        transition: all 0.7s cubic-bezier(0.59, -0.17, 0.3, 1.67);
        position: relative;
        padding: 1.2em;
        overflow: hidden;
        width: 333px;
        
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.31);

        .modal-content{
            .modal-body{

                .test1{
                    color: var(--color-primary200);
                }

                .test2{
                    color: var(--color-neutral400);
                }

                .test3{
                    color: var(--color-neutral400);
                }

                .modal-header{
                    display: flex;
                    align-items: center;
                    padding: 0.3em;
                    
                    span{
                        padding-left: 0.6em;
                        font-size: 0.9rem;
                        align-self: flex-end;
                        
                    }
                }
            }

            .modal-footer{
                padding-top: 1.5em;
                margin: 0 auto;
                align-self: center;
            }
        }

        .modal-title{
            color: var(--color-primary200)
        }

        .images{
            margin-top: 0.8em;
            img{
                width: 90px;
            }
        }
    }

}

.overlayCamera.is-open {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

.overlayAwards.is-open {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}


button{
    height: 45px;
    width: 180px;
    line-height: 40px;
    text-transform: uppercase;
    background: var(--color-primary200);
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-neutral100);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

}


button:hover{
    height: 45px;
    width: 180px;
    line-height: 40px;
    text-transform: uppercase;
    background: var(--color-primary150);
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-neutral100);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

}


button:active{
    height: 45px;
    width: 180px;
    line-height: 40px;
    text-transform: uppercase;
    background: var(--color-primary150);
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-neutral100);
    border: none;
    border-radius: 15px;
    box-shadow:none;

}

.button-label{
    background: none;
    color: var(--color-neutral900) !important;
    height: 45px;
    width: 180px;
    line-height: 40px;
    text-transform: none !important;
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-neutral100);
    border: none;
    border-radius: 15px;
     box-shadow: none;
}

.button-label:hover{
    background: none;
    color: var(--color-neutral400) !important;
    height: 45px;
    width: 180px;
    line-height: 40px;
    text-transform: none !important;
    font-family: "Segoe UI";
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-neutral100);
    border: none;
    border-radius: 15px;
     box-shadow: none;
}

h2 {
    
    text-align: center; 
    border-bottom: 1px solid var(--color-neutral900); 
    line-height: 0.1em;
    margin-bottom: 3em;
    margin-left: -40px;
    margin-right: -30px;

    
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-primary200);
 } 
 
 h2 span { 
     background:var(--color-neutral100); 
     padding:0 10px; 
 }



.box-title{
    font-weight: 600;
    color:var(--color-primary200);
}



.career_roadmap{
    padding-top: 2em;
    position: relative;

    

    
}


.figures{
    background: url(/images/Figures_Background.svg) no-repeat;
    background-position: center;
    position: relative;
    .career-guy{
        position: absolute;
        width: 50px;
        margin: -45px 0 0 -130px;
        z-index: 100;
    }
}
.chartbox{
    margin-top: 4em;
}

.chart_reactangle {

   backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    
    border: 1px solid rgb(155, 155, 155);

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1); 
    border-radius: 10px;
    margin-bottom: 2em;
    
    
   
  }
  

.footer{
    background: var(--color-primary100);
    height: 5em;
    align-content: center;
    display: flex;
    padding: 1em;

    p{
        color: white;
        margin: auto;
    }
}


.ForBrowser{
    display: none;
}


    .ForMobile{
        display: block;
    }


@media only screen and (min-width: 800px){

    .hero{
        margin-bottom: 250px;
        .hero-design{
            width: 60vw;
        }
    }


    .skils-container ul {
       

        margin-top: -300px;
        display: grid;
        grid-template-columns: repeat(3, auto); 
        grid-gap: 1em;

        
        .skill-card{
            
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, 0.5) !important;
            border: 1px solid var(--color-neutral400);
            max-width: 200px;
            
        }
    

    }

   
    .career_roadmap{
        margin-top: 6em;
    }

    .chartbox{
        margin: 0 auto;
    }

    .chart_reactangle{
        margin: 4em auto;
        background-color: rgba(255, 255, 255, 0.2);
        width: 50vw;
        
    }

    .Bar-Chart{
        margin-top: 4em;
        
     
    }

    .Radar-Chart{
        bottom: 0;
        width: 80%;
    }
     
}


 @media only screen and (min-width: 1200px){


    .ForBrowser{
        display: block;
    }


    .ForMobile{
        display: none;
    }

    .skill-card{
        
        backdrop-filter: blur(15px);
        background: rgba(255, 255, 255, 0.5) !important;
      
        max-width: 200px;
        height: 300px;
        line-height: 30px;
    }

    .skill_desc{
        margin-bottom: 3em;
    }


    .nav-container{
    
        height: 70vw;
        box-shadow: 1px 5px 4px 0px rgba(0,0,0,0.53);
        margin: 0;

        .logo{
            width: 8em;
            display: flex;
        }

        a{
            font-weight: 600;
            font-size: 1rem;
        }

    }


    header{
        padding: 1em 1em 1em 4em;
    }


    .social-header{
        padding: 2em 4em 2em 0;
        ul{
            display: flex;
            justify-content: space-between;
            width: 10em;
            float: right;   
            
            

            img{
                height: 24px;
                display: flex;
            }
        }
    }

    .hero-content{
        margin-top: 6em;
        margin-bottom: 6em;
        display: grid;
        grid-template-columns: 30% 70%;
        

        h1{
            font-size: 3.5vw;
            text-align: left;
            font-weight: 600;
        }
        .content{
            width: 100%;
            margin: 0 auto;

            width: 100%;
            padding: 6vw;
            
        }
    }

    .hero-design{
        width: 40vw;
        margin: 0 auto;
    }


    .meet{
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: var(--color-neutral500);
        margin-top: 2em;
    }
    
    
    .scroll
    {
        margin-top: 4em;
        margin: 0 auto;
        width: 20px;
    }

    .career_roadmap{
        margin-top: 6em;
        padding: 0;
    }

    .career-guy{
        width: 80px;
        margin: 0 0 -150px -1000px;
        z-index: 100;
    }


    .skils-container{
        position: relative;
    }

    .card-guy{
        position: absolute;
        width: 80px;
        margin: -320px 0 0 88vw;
    }

    .figures{
        background: url(/images/Chart_Background.svg) no-repeat;
        background-size: 100%;
        background-position: center;
        position: relative;
    }

     .chartbox{
         margin-top: 6em;;
         display: grid;
         
         grid-template-columns: 50%  50%;
         
     }

     .chart_reactangle{
         margin: 2em;
         background-color: rgba(255, 255, 255, 0.2);
         width: 400px;
         height: 300px;
     }
  
     .chart_reactangle{
     
    
         &.one{
             grid-column: 1;
             margin:0 auto;
         }
         &.two{
             grid-column: 2;
             margin:0 auto;
             align-content: center;
          
         }
     }

     .chart-guy{
         height: 150px;
         margin-top: 215px;
         margin-left: 480px;
         z-index: 1;
         position: absolute;
     }


     .footer_section{
         position: relative;
         margin-top: 18em;
     }

     .plant{
         position: absolute;
         width: 40px;
         margin-top: -55px;
         margin-left: 10px;
     }
     .coffee{
        position: absolute;
        width: 20px;
        margin-left: 90px;
        margin-top: -28px;
    }
    .laptop-guy{
        position: absolute;
        width: 140px;
        margin-left: 120px;
        margin-top: -170px;
    }
    .construction-guys{
        position: absolute;
        float: right;
        width: 500px;
        margin-left: 50vw;
        margin-top: -240px;
    }

    .footer{
        height: 300px;
        background: url("/images/Footer_Image.svg") no-repeat;
        background-position: center;
    }

 }

//  .circle{
//      animation :circleAnim 1s infinite alternate-reverse;
//  }

 @keyframes circleAnim{
     from{
         transform: translate(305px, 658px);
         z-index: 5;;
     }

     to{
        transform: translate(305px, 688px);
    }
     
 }


 